<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
    <div id="headerline">
        <h1>ABC Biometrics</h1>
        <button type="submit" name="adminpanel" class="apbtn">Admin Panel</button>
    </div>
    <div>
        <h2></h2>
    </div>

    <div id="verticaldivision">
        <div class="vl vl1">
            <button type="submit" name="adddept" class="add-d-button">
                <span class="glyphicon glyphicon-plus" style="color: #d84242"></span>&nbsp;&nbsp;Add Department</button>
            <div id="deptbar">
                <p></p>
                <ul>
                    <li>Principal</li>
                    <li>Teacher</li>
                    <li>Worker</li>
                </ul>
            </div>


        </div>

        <div class="vl vl2">
            <button type="submit" name="createuser" class="add-d-button">
                <span class="glyphicon glyphicon-plus" style="color: skyblue"></span>&nbsp;&nbsp;Add New User</button>
            <div>
                <p>
                    <br>
                </p>
            </div>

            <form method="post" action="">
                <div class="input-group">
                    <p></p>
                    <label style="font-size: 17px; color: #707070">ID No.</label>
                    <input type="text" name="idnum" value="">
                </div>
                <br>
                <div style="padding-right:  10px;">
                <div style="width:90%;">
                <label>Department</label>
                <br>
                <div class="dropdown">
                    <button class="dropbtn">Teacher<span style="float: right; box-align: bottom;" class="glyphicon glyphicon-menu-down" ></span>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
            </div>
                <div class="input-group">
                    <br>
                    <label style="font-size: 17px; color: #707070">Name</label>
                    <input type="text" name="name" value="">
                </div>
                <br>

            </form>


        </div>

        <div class="vl vl3">
            <h4 id="x">
                <b>Update User or delete department:</b>
            </h4>

            <br>
            <label style="color: #707070; width: 95%;">Principal  <a href="#">
                <span class="glyphicon glyphicon-minus" style="float: right; color: #d84242;"></span>
              </a></label>

            <div class="table-wrapper">

                <table>
                    <tr>
                        <th>ID No.</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>72075</td>
                        <td>Sonika</td>
                        <td>
                            <a href="#">  <span class="glyphicon glyphicon-minus" style="color: #d84242;"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>72075</td>
                        <td>Sonika</td>
                        <td>
                                <a href="#">  <span class="glyphicon glyphicon-minus" style="color: #d84242;"></span></a>

                        </td>
                    </tr>
                    <tr>
                        <td>72075</td>
                        <td>Sonika</td>
                        <td>
                                <a href="#">  <span class="glyphicon glyphicon-minus" style="color: #d84242;"></span></a>

                        </td>
                    </tr><tr>
                        <td>72075</td>
                        <td>Sonika</td>
                        <td>
                                <a href="#">  <span class="glyphicon glyphicon-minus" style="color: #d84242;"></span></a>

                        </td>
                    </tr>

                </table>
            </div>
            <br>
            <br>
            <br>
            <label style="color: #707070; width:95%;">Teacher <a href="#">
                    <span class="glyphicon glyphicon-minus" style="float: right; color: #d84242;"></span>
                  </a></label>

            <div class="table-wrapper">

                <table>
                    <tr>
                        <th>ID No.</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>72075</td>
                        <td>Sonika</td>
                        <td>
                                <a href="#">  <span class="glyphicon glyphicon-minus" style="color: #d84242;"></span></a>

                        </td>
                    </tr>
                    <tr>
                        <td>72075</td>
                        <td>Sonika</td>
                        <td>
                                <a href="#">  <span class="glyphicon glyphicon-minus" style="color: #d84242;"></span></a>

                        </td>
                    </tr>

                </table>
            </div>

            <br>
            <br>
            <br>
            <label style="color: #707070; width:95%;">Teacher <a href="#">
                    <span class="glyphicon glyphicon-minus" style="float: right; color: #d84242;"></span>
                  </a></label>

            <div class="table-wrapper">

                <table>
                    <tr>
                        <th>ID No.</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>72075</td>
                        <td>Sonika</td>
                        <td>
                                <a href="#">  <span class="glyphicon glyphicon-minus" style="color: #d84242;"></span></a>

                        </td>
                    </tr>
                    <tr>
                        <td>72075</td>
                        <td>Sonika</td>
                        <td>
                                <a href="#">  <span class="glyphicon glyphicon-minus" style="color: #d84242;"></span></a>

                        </td>
                    </tr>

                </table>
            </div>



        </div>

    </div>
    <div id="footerline">
        <div class="vl vl1">

            <button type="submit" name="save" class="abtn" style="background:#d84242">
                <b style="font-size: 17px; ">Add&emsp;&emsp;</b>
            </button>
        </div>
        <div class="vl vl2">
            <button type="submit" name="save" class="abtn"style="background:#6ff191;">
                <b style="font-size: 17px;">Add&emsp;&emsp;</b>
            </button>
        </div>
        <div class="vl vl3">
            <button type="submit" name="save" class="abtn" style="background:#a1b3f2;">
                <b style="font-size: 17px; ">Update&emsp;&emsp;</b>
            </button>
        </div>



</body>

</html>