@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(3.jpg) no-repeat;
    background-size: cover;
}

.login-box{
    width:30%;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color:white;
}

.login-box h1{
    float:left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 20px;
    width: 40%;
    float: left;
    margin: 0 10px;
}

.btn{
    width: 100%;
    background: none;
    border:2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    margin: 40px 0;
}
 
/* for admin panel, we use */

#headerline{
    padding:10px;
    border-bottom:1px solid #C0C0C0;
    text-align: left;
    color: #707070;
}

.apbtn{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    top:5%;
    right:0%;
    background: #a1b3f2;
    position: absolute; 
    color: white;
    width: 10%;
    height: 30px;


}

.abtn{
    width: 25%;
    height: 30px;
    background: #a1b3f2;
    color: white;
    border-radius: 10px;
    position: absolute; 
    top:25%; 
    left:10%;
    
}
#verticaldivision{
    width: 100%;
    height: 100%;
    position: absolute;
}

.vl{
    border-right: 1px solid #C0C0C0;
    padding:25px;
    position: absolute;  
}

.vl1{
    right:70%;
    left: 0%;
    width: 30%;
    height: 100%;
    
}

.vl2{
    left: 30%;
    width: 30%;
    height: 100%;
}

.vl3{
    left:60%;
    width: 40%;
    height: 100%;
    
}

.add-d-button{
    background: #f3f3f3;
    color: #707070;
    border-radius: 20px;
    position: absolute;
    top: 0%;
    left: 10%;
    font-size: 100%;
    height: 30px;
    width: 50%;    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

    
}
ul{
    padding: 10%;
}

ul li{
    padding:15px 15px 15px 0px;
    color: #707070;
    font-size: 17px;
}
ul li:hover{
    background: #dfeded;
    
}
#x{
    position: absolute;
    top: 0%;
    padding: 0px 0px 20px 0px;
    /* left:10%; */
    color: #707070;
}

#footerline{
    top: 90%;
    border-top:1px solid #C0C0C0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
}

.addd{
    background:  #d84242; 
    border-radius: 20px;
    position: absolute;
    bottom: 5%;
    left: 35%;
    color: white;
}

#deptbar{
    width:100%;
    height:75%;
    background:white;
    padding: 0px;
}

#deptbar *{
    list-style-type: none;
}


/* for dropdown */


.dropbtn {
    background-color: white;
    color: #707070;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
    text-align: left;

}

.dropdown {
    display: inline-block;
    width: 95%;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
}

.dropdown:hover .dropbtn {
    background-color: white;
}


/* for form */

form{
    width:100%;
    margin: 5px auto;
    text-align: left;
    padding: 20px;
}


.input-group{
    /* margin: 10px 0px 10px 0px; */
}
.input-group label{
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input{
    height: 30px;
    width: 100%;
    padding: 0px 10px;
    font-size: 17px;
    border: 1px solid gray;

}


/* for table */
table {
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    color: #707070;
    font-size: 17px;
}

th{
    padding: 10px !important;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 10px !important;
    text-align: left;
    display: table-cell;
    vertical-align: inherit;
}



tr:hover {background-color:#f5f5f5;}

.table-wrapper {
    border: 1px solid #ddd;
    border-width:thin;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

